/.idea/.idea.Oddities/.idea/*
!/.idea/.idea.Oddities/.idea/dictionaries/
!/.idea/.idea.Oddities/.idea/inspectionProfiles/

bin/
obj/
/.vs/Oddities/DesignTimeBuild/.dtbcache.v2
/.vs/Oddities/FileContentIndex/b8ef0635-e8c2-4351-8661-452bea62c163.vsidx
/.vs/Oddities/FileContentIndex/read.lock
/.vs/Oddities/v17/.suo
/.vs/Oddities/FileContentIndex/166aad39-5560-452e-b7b9-490d28198be8.vsidx
